@import './variables.module.scss';
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400&display=swap');

.primaryButton {
    text-align: center;
    box-shadow: none !important;
    color: $white !important;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500 !important;
    font-size: 14px;
    line-height: 20px;
    background-color: $primary !important;
    border-radius: 3px;
    display: flex;
    justify-content: center;
    text-transform: capitalize !important;
    align-items: center;
    width: 79px;
    height: 44px;
    white-space: nowrap;
  
    // &:hover {
    //   background-color: #B0E3DC !important;
    // }
  
    // @media only screen and (max-width: $md) {
    //   border-radius: 3px;
    //   width: 100% !important;
    // }
  
    &.large {
      width: 100% !important;
    }
    
    &.medium {
      font-size: 12px;
      line-height: 16px;
      max-width: 89px !important;
      height: 52px !important;
    }
  
    &.small {
      max-width: 55px !important;
      height: 32px !important;
      font-size: 12px;
      line-height: 32px;
    }
  
    &.white {
      background-color: $white !important;
      border: 1px solid $lightseagreen;
      color: $black !important;
  
    //   &:hover {
    //     background-color: #DDDDDD !important;
    //   }
    }
  
    &.red {
      background-color: $red !important;
      color: $white !important;

    //   &:hover {
    //     background-color: #F7BBBD !important;
    //   }
    }
  
    &.disabled {
      opacity: 0.5;
      // background-color: $lightgrey !important;
    }
  
  }